@use "../../assets/styles/base" as base;

.dropdown {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 8px;
  padding-inline: 1rem;
  height: 2rem;
  border-radius: base.$br-100;

  button {
    @include base.gridCenter();
  }
}
