@mixin absoluteCenter($vertical: "true", $horizontal: "true") {
  position: absolute;
  @if $vertical == "true" and $horizontal == "true" {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  } @else if $horizontal == "true" {
    left: 50%;
    transform: translateX(-50%);
  } @else if $vertical == "true" {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin gridCenter() {
  display: grid;
  place-content: center;
}
@mixin inlineGridCenter() {
  display: inline-grid;
  place-content: center;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin beforeAbsolute($selector: "", $content: "") {
  #{$selector}::before {
    content: $content;
    display: inline-block;
    position: absolute;
    inset: 0;
    @content;
  }
}

@mixin afterAbsolute($selector: "", $content: "") {
  #{$selector}::after {
    content: $content;
    position: absolute;
    inset: 0;
    @content;
  }
}

@mixin cssTriangle($bottom, $right, $color) {
  height: 0;
  width: 0;
  border-left: $right solid transparent;
  border-right: $right solid transparent;
  border-bottom: $bottom solid $color;
}

@mixin checkmark($color, $thickness: 4px) {
  display: inline-block;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  border-bottom: $thickness solid $color;
  border-right: $thickness solid $color;
  border-radius: 1px;
}
