@use "../../assets/styles/base" as base;

.resize-input {
  @extend .font-body-lg;
  width: 0;
  flex: 1;
  padding-inline: 0.5rem;
  height: 2rem;
  outline: none;
  border-radius: base.$br-100;
  font-weight: base.$fw-medium;
  color: base.$on-surface-heading;

  &:focus-visible {
    background-color: transparent;
    outline: 1px solid base.$primary;
  }
}

.textarea-container {
  @extend .font-body-xl;
  padding-block: 0.5rem;
  position: relative;
  overflow: hidden;
  flex: 1;
  padding-right: 3.5rem;
}

.textarea {
  padding-block: 0.125rem;
  width: 100%;
  outline: none;
  resize: none;
  background-color: transparent;
  height: calc(1lh + 0.25rem);
  overflow: hidden;
  display: block;
}

.textarea-container span {
  font-size: inherit;
}
