@use "../../assets/styles/base" as base;

.dialog {
  opacity: 0;
  transform: translateY(-15%);
  background-color: base.$surface;
  border-radius: base.$br-200;
  max-width: calc(100% - 4rem - 8px);
  max-height: calc(100% - 4rem - 8px);
  place-self: center;
  border: none;
  box-shadow: base.$box-shadow;
  position: relative;
  overflow: visible;

  &::backdrop {
    background: base.$scrim;
  }
}

.dialog[open] {
  animation: animate-dialog base.$an-sp-fast ease-out forwards 100ms;
}

@keyframes animate-dialog {
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.close-dialog {
  @extend .button--hovered;
  position: absolute;
  top: -2rem;
  right: -2rem;
  border-radius: base.$br-round;
  background-color: base.$scrim-color;
}

@media screen and (max-width: 500px) {
  .close-dialog {
    top: -2.5rem;
    right: 0.25rem;
  }
  .dialog {
    margin-top: 48px;
    border-radius: 0;
    max-width: 100%;
    max-height: calc(100% - 48px);
    height: 100%;
    width: 100%;
  }
}
