@use "../../../assets/styles/base" as base;

.spinner {
  border-radius: base.$br-round;
  border: 2px solid transparent;
  border-bottom-color: base.$border-high;
  border-left-color: base.$border-high;
  border-right-color: base.$border-high;
  transform: rotate(0deg);

  width: 1.125rem;
  height: 1.125rem;
  animation: animate-spin infinite linear 1s;
}

@keyframes animate-spin {
  to {
    transform: rotate(360deg);
  }
}
