@use "../../../assets/styles/base" as base;

.container {
  display: flex;
  align-items: center;
  border-radius: base.$br-100;
  height: 2rem;
  overflow: hidden;
  width: 100%;
  &:focus-within {
    outline: 2px solid base.$primary;
  }

  &__input {
    min-width: 0;
    flex-shrink: 1;
    padding-inline: 0.5rem;
    height: 100%;
    outline: none;
    border-radius: base.$br-100;
    font-size: base.$fs-body-sm;
    font-weight: base.$fw-medium;
    color: base.$on-surface-heading;

    &:focus-visible {
      background-color: transparent;
    }
  }
}
