@use "../../../assets/styles/base" as base;

header a {
  color: inherit;
  text-decoration: none;
}

main > section {
  display: grid;
  place-content: center;
  height: calc(100% - 54px);

  p {
    margin-bottom: 2rem;
  }

  & > div[role="alert"] {
    text-align: center;
    padding: 0 1rem 1.5rem;
    border-radius: base.$br-100;
    width: min(400px, calc(100vw - 4rem - 8px));
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}

.error-heading {
  font-size: base.$fs-body-xl;
  padding: 1.5rem 0 0.5rem;
  line-height: base.$lh-body-xl;
  font-weight: base.$fw-semibold;
}
