@use "../../assets/styles/base" as base;

.hr {
  color: base.$border-lowest;
  border: 1px solid base.$border-lowest;
}

.or-separator {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  div {
    flex: 1;
    height: 0.5px;
    background-color: base.$border-lowest;
    border-radius: base.$br-100;
  }
}
