@use "../../../assets/styles/base" as base;

.auth-dialog {
  @extend .font-body-sm;
  padding: 1rem 0.5rem;
  background-color: base.$inverse-surface-high;
  text-align: center;
  color: base.$inverse-on-surface-heading;
  margin-bottom: 0.5rem;

  > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &-content {
    @extend .font-body-m;
    text-align: left;
    max-height: calc(100vh - 4rem - 8px);

    h2 {
      color: base.$on-surface-heading;
      font-weight: base.$fw-medium;
      font-size: 1.5rem;
      line-height: base.$lh-body-xl;
    }

    label {
      @extend .font-body-sm;
      color: base.$on-surface-body;
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}

.email-form {
  display: grid;
  grid-template-rows: 4.5rem 1fr;
  width: min(500px, calc(100vw - 4rem - 8px));
  height: 295px;
  max-height: inherit;

  &-body {
    overflow-y: auto;

    &-content {
      padding: 0 1rem 2rem;
    }
  }

  &-header {
    align-self: center;
    padding-left: 1rem;
  }
}

.register-form {
  @extend .email-form;
  height: 24rem;
  width: min(500px, calc(100vw - 4rem - 8px));

  &-header {
    padding-left: 0.25rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &-body {
    overflow-y: auto;

    &-content {
      padding: 0 1rem 1rem;

      & > p {
        @extend .font-body-sm;
        color: base.$on-surface-body;
        padding: 0.5rem 0 1.5rem;

        & strong {
          display: inline;
        }
      }
    }
  }

  & form {
    & > div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.auth-form.auth-with-provider {
  height: 12.8rem;
}

.auth-form {
  @extend .email-form;
  height: 13.95rem;
  width: min(500px, calc(100vw - 4rem - 8px));

  &-header {
    @extend .register-form-header;
  }

  &-body {
    overflow-y: auto;

    &-content {
      padding: 0 1rem 1rem;

      & > p {
        @extend .font-body-sm;
        color: base.$on-surface-body;
        padding: 0.5rem 0 1.5rem;

        & strong {
          display: inline;
          word-break: break-all;
        }
      }
    }
  }
}

.oauth2-flow {
  margin-block: 0.5rem;
  & > :nth-child(n) {
    margin-bottom: 0.5rem;
  }
}
