@use "../../../assets/styles/base" as base;

.graph-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  transform: translateX(-100%);
  width: 20rem;
  background-color: base.$inverse-surface;
  color: base.$inverse-on-surface-body;

  h2 {
    @extend .font-body-xl;
    color: base.$inverse-on-surface-heading;
  }

  h3 {
    @extend .font-body-m;
    color: base.$inverse-on-surface-heading;
    font-weight: base.$fw-medium;
  }
}

.auth-dialog {
  @extend .font-body-sm;
  padding: 1rem 0.5rem;
  background-color: base.$invere-surface-high;
  text-align: center;
  color: base.$inverse-on-surface-heading;
  margin-bottom: 0.5rem;

  > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &-content {
    @extend .font-body-m;
    text-align: left;
    height: 400px;
    max-height: calc(100vh - 4rem - 8px);

    h2 {
      color: base.$on-surface-heading;
      font-weight: base.$fw-medium;
      font-size: 1.5rem;
    }

    label {
      @extend .font-body-sm;
      color: base.$on-surface-body-low;
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}

.email-form {
  display: grid;
  grid-template-rows: 3.5rem 1fr;
  width: 25rem;
  padding-top: 0.001rem;
  height: 100%;

  &-body {
    overflow-y: auto;

    &-content {
      padding: 0 1rem;
    }
  }

  &-header {
    padding: 1rem 1rem;
    // background-color: base.$surface;
  }

  & form {
  }
}

.auth-form {
  width: 25rem;
  padding-bottom: 1rem;

  &-header {
    margin-block: 1rem;
    padding-left: 0.25rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  & form {
    padding: 0 1rem;
  }
}

.register-form {
  width: 25rem;
  padding-bottom: 1rem;

  &-header {
    margin-block: 1rem;
    padding-left: 0.25rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  & form {
    padding: 0 1rem;

    & > div:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 1rem;
    }

    & button {
      //   margin-left: auto;
      //   margin-top: 2rem;
    }
  }
}

.new-blank-graph {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: base.$inverse-on-surface-heading;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  margin-bottom: 0.5rem;

  &:hover {
    & button:nth-child(1) {
      scale: 1.1;
    }

    & {
      text-decoration: underline;
    }
  }

  &:focus {
    & button:nth-child(1) {
      outline: 3px solid base.$primary;
      outline-offset: -1px;
      scale: 1.1;
    }

    & {
      text-decoration: underline;
    }
  }

  & button:nth-child(1) {
    border-radius: base.$br-round;
    border: 1px solid base.$inverse-on-surface-heading;
    transition: scale base.$an-sp-fast ease-out;
  }
}

.section-separator {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  &::after {
    content: "";
    height: 1px;
    flex: 1;
    border-radius: base.$br-100;
    background-color: base.$border-normal;
  }
}

.preview-list {
  &-item {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    cursor: pointer;
    background-color: base.$inverse-surface;
    transition: background-color base.$an-sp-fast ease-out;

    &:hover {
      background-color: color-mix(
        in srgb,
        base.$inverse-surface 85%,
        white 15%
      );
    }

    &-left {
      background-color: white;
      border-radius: base.$br-200;
      & img {
        aspect-ratio: 1 / 1;
        width: 100%;
      }
    }

    &-right {
      overflow: hidden;
      @extend .font-body-sm;
      & h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
