@use "../../../assets/styles/base" as base;

.graph-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  transform: translateX(-100%);
  overflow-y: auto;
  width: 20rem;
  background-color: base.$inverse-surface;
  color: base.$inverse-on-surface-body;

  h2 {
    @extend .font-body-sm;
    color: base.$inverse-on-surface-heading;
    font-weight: base.$fw-regular;
  }

  h3 {
    @extend .font-body-m;
    color: base.$inverse-on-surface-heading;
    font-weight: base.$fw-medium;
  }

  section {
    margin-bottom: 2rem;
  }
}

.new-blank-graph {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: base.$inverse-on-surface-heading;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  margin-block: 1rem;

  &:hover {
    & button:nth-child(1) {
      scale: 1.1;
    }

    & {
      text-decoration: underline;
    }
  }

  &:focus {
    & button:nth-child(1) {
      outline: 3px solid base.$primary;
      outline-offset: -1px;
      scale: 1.1;
    }

    & {
      text-decoration: underline;
    }
  }

  & button:nth-child(1) {
    border-radius: base.$br-round;
    border: 1px solid base.$inverse-on-surface-heading;
    transition: scale base.$an-sp-fast ease-out;
  }
}

.section-separator {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  &::after {
    content: "";
    height: 1px;
    flex: 1;
    border-radius: base.$br-100;
    background-color: base.$border-normal;
  }
}

.preview-list {
  &-item {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    cursor: pointer;
    background-color: base.$inverse-surface;
    @extend .inverse-button--hovered;

    &-saved {
      @extend .preview-list-item;
      @extend .inverse-button--hovered;
    }

    &-left {
      background-color: white;
      height: 3rem;
      overflow: hidden;
      border-radius: base.$br-200;
      & img {
        aspect-ratio: 1 / 1;
        width: 100%;
      }
    }

    &-right {
      overflow: hidden;
      @extend .font-body-sm;

      & h3 {
        text-overflow: ellipsis;
        margin-bottom: 0.125rem;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &-right-saved {
      position: relative;
      overflow: hidden;
      padding-right: 2.5rem;
      @extend .font-body-sm;

      & > button {
        &:hover {
          transition: filter base.$an-sp-fast ease-out;
          filter: brightness(150%);
        }

        position: absolute;
        top: -0.5rem;
        right: 0;
      }

      & h3 {
        text-overflow: ellipsis;
        margin-bottom: 0.125rem;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

header:has(.account-settings-dropdown) {
  border-bottom: 1px solid base.$border-normal;
  padding: 0 0.5rem;
}

header .account-settings-dropdown {
  padding-block: 0.5rem;

  & > button {
    @extend .inverse-button--hovered;
    color: base.$inverse-on-surface-heading;
    font-weight: base.$fw-bold;

    & svg {
      stroke-width: 3px;
    }
  }
}

.account-settings {
  color: base.$on-surface-body;
  padding: 0.5rem 1rem;

  &-credentials {
    & > :nth-child(2) {
      @extend .font-body-sm;
    }
  }

  &-dialog {
    width: min(600px, calc(100vw - 4rem - 8px));
    height: min(409px, calc(100vh - 4rem - 8px));
    display: flex;
    flex-direction: column;

    &-opener {
      margin-top: 1rem;

      h2 {
        color: base.$on-surface-heading;
        font-weight: base.$fw-medium;
        font-size: 1.5rem;
      }
    }

    &-header {
      padding-block: 1.5rem;
      padding-left: 1rem;
    }

    &-body {
      padding: 0 1rem 1rem;
      flex: 1;
      overflow-y: auto;
    }
  }
}

@media screen and (max-width: 500px) {
  .account-settings {
    &-dialog {
      width: 100%;
      height: 100%;
    }
  }
}
