@use "../../../assets/styles/base" as base;

.profile-tab {
  overflow: hidden;
  padding: 1rem 0rem;

  & .user-credentials-form {
    label {
      @extend .font-body-sm;
      color: base.$on-surface-body;
      display: block;
      margin-bottom: 0.5rem;
    }

    & > div:first-child {
      display: flex;
      align-items: flex-end;
      gap: 2rem;

      & > * {
        flex: 1;
      }
    }

    & > div:last-child {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;
      padding: 2rem 0 1rem;
    }
  }

  &-email-status {
    padding-block: 1rem;
    dl {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 0.25rem;

      dt {
        @extend .font-body-sm;
        color: base.$on-surface-body;
      }

      dd {
        word-break: break-all;
      }
    }
    & > div > button {
      margin-left: 4.3rem;
    }

    &-verified {
      margin-left: 4.2rem;
      @extend .font-body-sm;
      color: base.$success;
    }
  }
}

.profile-tab .delete-account-dialog {
  display: flex;
  justify-content: flex-end;

  & > button {
    color: base.$on-surface-body-low;
  }

  h2 {
    padding: 1.5rem 0rem;
    line-height: base.$lh-body-xl;
  }

  &-content {
    width: min(500px, calc(100vw - 4rem - 8px));
    color: base.$on-surface-body;
    padding: 0rem 1rem 1.5rem;

    b {
      color: base.$on-surface-heading;
      font-weight: base.$fw-medium;
    }
    p {
      margin-bottom: 1.5rem;

      span {
        word-break: break-all;
        color: base.$on-surface-heading;
        font-weight: base.$fw-medium;
      }
    }

    & div:last-child:has(button) {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      margin-top: 2rem;
    }
  }
}

.verify-email-confirmation {
  width: min(500px, calc(100vw - 4rem - 8px));

  padding: 0rem 1rem 1.5rem;
  h2 {
    @extend .font-body-m;
    margin-block: 1.5rem;
    color: base.$on-surface-body;
    font-weight: base.$fw-regular;

    em {
      color: base.$on-surface-heading;
      font-weight: base.$fw-medium;
      word-break: break-all;
    }
  }

  & > div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    gap: 1rem;
  }
}

.verify-email-code {
  width: min(500px, calc(100vw - 4rem - 8px));
  padding: 0rem 1rem 1.5rem;
  color: base.$on-surface-body;

  h2 {
    @extend .font-body-xl;
    margin-block: 1.5rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 3rem;
    margin-block: 2rem;
  }

  .did-not-receive-email {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    p {
      @extend .font-body-sm;
    }
  }
}

.admin-tab {
  padding-block: 1rem;

  h3 {
    @extend .font-body-xl;
    color: base.$on-surface-heading;
    margin-bottom: 1rem;
  }
}

.verify-email-before-delete-dialog {
  display: flex;
  justify-content: flex-end;

  & > button:first-child {
    color: base.$on-surface-body-low;
  }
}

@media screen and (max-width: 500px) {
  .profile-tab .delete-account-dialog {
    &-content {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .profile-tab {
    height: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
