@use "../../../assets/styles/base" as base;

.profile-tab {
  margin-top: 1rem;

  & form {
    label {
      @extend .font-body-sm;
      color: base.$on-surface-body;
      display: block;
      margin-bottom: 0.5rem;
    }

    & > div {
      display: flex;
      gap: 4rem;
    }

    & > div:last-child {
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;
      padding: 2rem 0 1rem;
    }
  }

  &-email-status {
    padding-block: 1rem;
    dl {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 0.25rem;

      dt {
        @extend .font-body-sm;
        color: base.$on-surface-body;
      }
    }
    button {
      margin-left: 4.3rem;
    }
  }
}

.profile-tab .delete-account-dialog {
  display: flex;
  justify-content: flex-end;

  & > button {
    color: base.$on-surface-body-low;
  }
}

.admin-tab {
  padding-block: 1rem;

  h3 {
    @extend .font-body-xl;
    color: base.$on-surface-heading;
    margin-bottom: 1rem;
  }
}
