@use "../../../assets/styles/base" as base;

.expression-panel {
  display: grid;
  grid-template-rows: 3.5rem 1fr;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 17.625rem;
  min-width: 17.625rem;
  max-width: calc(100% - 17.625rem);
  background-color: base.$surface;
  z-index: 10;

  &__resizer {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 100%;
    width: 1rem;
    &:hover {
      cursor: e-resize;
    }
    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      top: 0;
      left: -50%;
      bottom: 0;
      width: 50%;
      box-shadow: 3px 0px 3px base.$shadow-level2;
    }
  }
}

.expression-panel-top-bar {
  @include base.flexBetween();
  background-color: base.$surface-container-low;
  padding-inline: 0.5rem;
  gap: 1rem;
  border-bottom: 1px solid base.$border-lowest;

  &__right {
    display: flex;
  }
  &__left {
    flex: 1;
  }
}

.expression-list {
  overflow-y: auto;
  padding-bottom: 2rem;

  &__li {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
    min-height: 3.5rem;
    border-bottom: 1px solid base.$border-lowest;

    &:focus-within {
      outline: 1px solid base.$primary-container;

      .dynamic-island {
        background-color: base.$primary-container;
        color: base.$on-primary-container;
      }
    }

    .dynamic-island {
      transition: background-color 150ms ease-out, color 150ms ease-out;
      min-width: 2.5rem;
      align-self: stretch;
      padding: 0.125rem;
      background-color: base.$surface-container-low;

      &:hover {
        cursor: move;
      }

      &__index {
        @extend .font-body-xs;
        margin-bottom: 0.125rem;
      }
      &__type {
      }
    }
  }

  &__textarea {
    @extend .font-body-xl;
    width: calc(100% - 3.5rem);
    outline: none;
    resize: none;
    // border: none;
    background-color: transparent;
    height: 1lh;
    overflow: hidden;
    display: block;
  }

  &__li--faded {
    min-height: 3.5rem;
    display: flex;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::before {
      @extend .fade-out;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50%;
    }

    .dynamic-island {
      width: 2.5rem;
      align-self: stretch;
      padding: 0.125rem;
      background-color: base.$surface-container-low;

      &__index {
        font-size: base.$fs-body-xs;
        margin-bottom: 0.125rem;
      }
    }
  }
}

.expression-list__li.expression-list__li--dragging {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15),
    0 1px 2px 0px rgba(0, 0, 0, 0.3);
  outline: 1px solid base.$primary-container;

  .dynamic-island {
    background-color: base.$primary-container;
    color: base.$on-primary-container;
  }
}

@media screen and (max-width: 500px) {
  .expression-panel {
    top: 50%;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;

    &__resizer {
      inset: 0;
      top: -1rem;
      height: 1rem;
      width: auto;
      &:hover {
        cursor: default;
      }
      &::before {
        top: 100%;
        left: 0;
        right: 0;
        height: 50%;
        bottom: auto;
        width: auto;
        box-shadow: 0px -3px 3px base.$shadow-level2;
      }
    }
  }
}
