@use "../../../assets/styles/base" as base;

.expression-panel {
  display: grid;
  grid-template-rows: 3.5rem 1fr;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 17.625rem;
  min-width: 17.625rem;
  max-width: calc(100% - 17.625rem);
  background-color: base.$surface;
  z-index: 10;

  &__resizer {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 100%;
    width: 1rem;
    &:hover {
      cursor: e-resize;
    }
    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      top: 0;
      left: -50%;
      bottom: 0;
      width: 50%;
      box-shadow: 3px 0px 3px base.$shadow-level2;
    }
  }
}

.expression-panel-top-bar {
  @include base.flexBetween();
  background-color: base.$surface-container-low;
  padding-inline: 0.5rem;
  gap: 1rem;
  border-bottom: 1px solid base.$border-lowest;

  &__right {
    display: flex;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex: 1;

    h1 {
      @extend .font-body-lg;
      font-weight: base.$fw-medium;
    }
  }
}

.new-graph-item {
  @extend .font-body-sm;
  text-transform: capitalize;
  background-color: base.$secondary-container;

  &:hover {
    @extend .button--hovered;
  }

  button {
    display: flex;
    align-items: center;
    height: 2.5rem;
    gap: 0.25rem;
    padding: 0.5rem;
  }
}

.expression-list-container {
  overflow-y: auto;
  padding-bottom: 2rem;

  .expression-list__li {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 3.5rem;
    border-bottom: 1px solid base.$border-lowest;

    &.expression-list__li--focused {
      outline: 1px solid base.$primary-container;

      .dynamic-island {
        background-color: base.$primary-container;
        color: base.$on-primary-container;
      }
    }
  }

  .expression-list__li--faded {
    min-height: 3.5rem;
    display: flex;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::before {
      @extend .fade-out--bottom;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50%;
    }

    .dynamic-island {
      width: 2.5rem;
      align-self: stretch;
      padding: 0.125rem;
      background-color: base.$surface-container-low;

      &__index {
        font-size: base.$fs-body-xs;
        margin-bottom: 0.125rem;
      }
    }
  }
}

.expression-list__li.expression-list__li--dragging {
  box-shadow: base.$box-shadow;
  outline: 1px solid base.$primary-container;

  .dynamic-island {
    background-color: base.$primary-container;
    color: base.$on-primary-container;
  }
}

.dynamic-island {
  transition: background-color 150ms ease-out, color 150ms ease-out;
  min-width: 2.5rem;
  align-self: stretch;
  padding: 0.125rem;
  background-color: base.$surface-container-low;

  &:hover {
    cursor: move;
  }

  &__index {
    @extend .font-body-xs;
  }
  &__type {
    cursor: pointer;
    @include base.gridCenter();
    padding: 0 0.125rem 0.125rem;
  }
  &__type__function {
    @include base.inlineGridCenter();
    border-radius: base.$br-round;
    overflow: hidden;
  }
}

@media screen and (max-width: 500px) {
  .expression-panel {
    top: 50%;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;

    &__resizer {
      inset: 0;
      top: -1rem;
      height: 1rem;
      width: auto;
      &:hover {
        cursor: default;
      }
      &::before {
        top: 100%;
        left: 0;
        right: 0;
        height: 50%;
        bottom: auto;
        width: auto;
        box-shadow: 0px -3px 3px base.$shadow-level2;
      }
    }
  }
}
