@mixin absoluteCenter($vertical: "true", $horizontal: "true") {
  position: absolute;
  @if $vertical == "true" and $horizontal == "true" {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  } @else if $horizontal == "true" {
    left: 50%;
    transform: translateX(-50%);
  } @else if $vertical == "true" {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin gridCenter {
  display: grid;
  place-content: center;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
