// COLORS

// TEXT || BUTTONS || ICONS
$primary: "";
$secondary: "";
$on-primary: "";
$on-secondary: "";

// CONTAINERS
$primary-container: "";
$secondary-container: "";
$on-primary-container: "";
$on-secondary-container: "";

// SURFACE
$surface: "";
$surface-container: "";
$surface-container-low: "";
$surface-container-high: "";
$on-surface-body: "";
$on-surface-body-low: "";
$on-surface-body-high: "";
$on-surface-heading: "";
$on-surface-heading-low: "";

// BORDER
$border-normal: "";
$border-low: "";
$border-lowest: "";

// FONT

// FONT SIZE

$fs-body-s: 0.75rem;
$fs-body-sm: 0.875rem;
$fs-body-m: 1rem;
$fs-body-lg: 1.125rem;
$fs-body-xl: 1.25rem;

$fs-h1: 0.75rem;
$fs-h2: 0.75rem;
$fs-h3: 0.75rem;
$fs-h4: 0.75rem;
