@use "../../../assets/styles/base" as base;

.filled-button {
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: base.$br-200;
  font-weight: base.$fw-semibold;
  background-color: base.$primary;
  color: base.$on-primary;

  &:hover:not(:disabled) {
    filter: brightness(85%);
  }

  &:focus {
    outline: 2px solid white;
  }

  &:disabled {
    background-color: base.$on-surface-body;
    color: base.$on-surface-body-low;
    cursor: default;
  }
}

.outlined-button {
  @extend .filled-button;
  background-color: transparent;
  border: 1px solid base.$on-primary;

  &:focus {
    outline: 2px solid base.$primary;
    border: none;
  }
}
