@use "../../../assets/styles/base" as base;

.filled-button {
  @extend .flex-center;
  gap: 0.25rem;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: base.$br-200;
  font-weight: base.$fw-semibold;
  background-color: base.$primary;
  color: base.$on-primary;

  &:hover:not(:disabled) {
    filter: brightness(85%);
  }

  &:focus {
    outline: 2px solid white;
  }

  &:disabled {
    background-color: base.$on-surface-body;
    color: base.$on-surface-body-low;
    cursor: default;
  }
}

.filled-button-danger {
  @extend .filled-button;
  background-color: base.$error;
  color: base.$onError;
}

.outlined-button {
  @extend .filled-button;
  background-color: transparent;
  border: 1px solid base.$border-normal;
  color: base.$on-surface-heading;

  &:focus {
    outline: 2px solid base.$primary;
    border: none;
  }
}

.outlined-button-dark {
  @extend .outlined-button;
  border: 1px solid base.$inverse-on-surface-heading;
  color: base.$inverse-on-surface-heading;
}

.underline-button {
  font-weight: base.$fw-semibold;
  color: base.$on-surface-heading;
  height: 32px;

  &:hover:not(:disabled) {
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid base.$primary;
    border-radius: base.$br-100;
  }

  &:disabled {
    color: base.$on-surface-body-low;
    cursor: default;
  }
}
